:root {
  --col_action: rgb(255, 179, 65);
  --col_main: rgb(56, 180, 255);
  --grad_gold: linear-gradient(
    45deg,
    rgba(255, 255, 63, 1) 0%,
    rgba(255, 255, 191, 1) 62.5%,
    rgba(255, 255, 63, 1) 100%
  );
  --grad_gold-light: linear-gradient(
    45deg,
    rgba(255, 255, 127, 1) 0%,
    rgba(255, 255, 255, 1) 62.5%,
    rgba(255, 255, 127, 1) 100%
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  list-style: none;

  text-decoration: none;
  font-family: sans-serif;
}

body {
  background: linear-gradient(
    45deg,
    rgba(0, 191, 255, 1) 0%,
    rgba(127, 255, 127, 1) 50%,
    rgba(255, 255, 0, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--col_main);
}

/* NAV BAR */

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  background-color: var(--col_main);
}

#nav-bar img {
  height: 128px;
  border-radius: 100%;
  margin-left: 16px;
}

#nav-bar ul {
  margin-left: 25%;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
#nav-bar ul li a {
  font-size: 32px;
  background: var(--grad_gold);
  padding: 16px;
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 32px;
  transition: all 0.25s ease-in-out;
}
#nav-bar ul li a:hover {
  padding: 32px;
  border: 4px solid rgb(255, 223, 127);
  background: var(--grad_gold-light);
}
